
:root{

    --dark-bg-color: #0D5259;
    --main-bg-color: #026873;
    --secondary-bg-color: #218691;
    --white: rgb(226, 226, 226); 
}

*{
    margin:0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: var(--dark-bg-color);/* 
    background-image: url("../sources/tb.jpg");
    background-image: url("../sources/bb.jpg");
    background-image: url("../sources/gb.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 90%;
    margin: 8vh 3.5%;
}

main h1 {
    margin: 20px;
    margin-bottom: 10px;
}

main p {
}

main a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}


li{
    list-style: none;
}