:root{
    --dark-bg-color: #0D5259; 
    --main-bg-color: #026873;
    --secondary-bg-color: #218691;
    --white: rgb(245, 245, 245); 
}

*{
    margin:0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0;
    background-color: var(--dark-bg-color);/* 
    background-image: url("../sources/tb.jpg");
    background-image: url("../sources/bb.jpg");
    background-image: url("../sources/gb.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 50vw;
    margin-top: 10vh;
    margin-left: 25vw;
    height: 80vh;
}

main h1 {
    margin: 20px;
    margin-bottom: 10px;
}


main a {
    text-decoration: none;
    color: rgb(44, 44, 44);
    font-weight: bold;
}

li{
    list-style: none;
}

main ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main li{
    width: 20vw;
}

.center{
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 2vh;
}


@media screen and (max-width: 760px){

    main ul{
        flex-direction: column;
    }

    main li{
        width: auto;
    }
}