*{
    margin:0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #016b6b;
    background-image: url("../sources/tb.jpg");
    background-image: url("../sources/bb.jpg");
    background-image: url("../sources/gb.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Courier New', Courier, monospace;
}

main {
    width: 90%;
    margin: 8vh 3.5%;
}

main a {
    text-decoration: none;
    color: darkblue;
    background-color: rgba(255, 255, 255, 0.2);
}


li{
    list-style: none;
}


/*  */